<div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
        <button mat-icon-button (click)="toggleNavbar()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        

        <span style="font-family: 'Pacifico', cursive;">
            FlavorFusion
        </span>
        <span fxFlex></span>
        <app-header></app-header>
    </mat-toolbar>
    <!-- <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
            fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container> -->

    <app-sidebar></app-sidebar>
    

</div>