<!-- <mat-nav-list appAccordion> -->
<!-- <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected"
        group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/cafe/',menuitem.state]"
            *ngIf="menuitem.type === 'link' && (menuitem.role === '' || menuitem.role === userRole)">
            <mat-icon>{{menuitem.icon}}</mat-icon>
            <span>{{menuitem.name}}</span>
        </a>
    </mat-list-item> -->
<!-- </mat-nav-list> -->


<mat-drawer-container>
        
    <mat-drawer #drawer opened="true" mode="side">
        <mat-nav-list>
    
            <mat-list-item>
                <button mat-button routerLink="/cafe/dashboard" routerLinkActive="active-link">
                        <mat-icon>dashboard</mat-icon>Dashboard
                </button>
            </mat-list-item>
    
            <mat-list-item *ngIf="userRole == 'ADMIN'">
                <button mat-button routerLink="/cafe/category" routerLinkActive="active-link">
                        <mat-icon>category</mat-icon>Manage Category
                </button>
            </mat-list-item>
    
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; min-height:1000px;">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-content>
</mat-drawer-container>