.active-link {
    // background-color: #007bff; /* Set your desired background color */
    background-color: #7b1fa2; /* Set your desired text color */
  }
button {
    font-size: medium;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.sidenav-content {
  // display: flex;
}
