<mat-card>
  <mat-card-header>
    <mat-card-title>Manage Order</mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      color="primary"
      class="float-right"
      [disabled]="validateSubmit()"
      (click)="submitAction()"
    >
      <mat-icon>print</mat-icon>Submit & Get Bill
    </button>
  </mat-card-actions>
</mat-card>

<hr />

<mat-card>
  <mat-card-header>
    <mat-card-title>Customer Details</mat-card-title>
  </mat-card-header>

  <mat-card-content align="start">
    <form [formGroup]="manageOrderForm">
      <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="name"
              required
            />
            <mat-error
              *ngIf="
                manageOrderForm.controls.name.touched &&
                manageOrderForm.controls.name.invalid
              "
            >
              <span *ngIf="manageOrderForm.controls.name.errors.required"
                >Name is required</span
              >
              <span *ngIf="manageOrderForm.controls.name.errors.pattern"
                >Name is invalid</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="email"
              required
            />
            <mat-error
              *ngIf="
                manageOrderForm.controls.email.touched &&
                manageOrderForm.controls.email.invalid
              "
            >
              <span *ngIf="manageOrderForm.controls.email.errors.required"
                >Email is required</span
              >
              <span *ngIf="manageOrderForm.controls.email.errors.pattern"
                >Email is invalid</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              formControlName="contactNumber"
              placeholder="Contact Number"
              required
            />
            <mat-error
              *ngIf="
                manageOrderForm.controls.contactNumber.touched &&
                manageOrderForm.controls.contactNumber.invalid
              "
            >
              <span
                *ngIf="manageOrderForm.controls.contactNumber.errors.required"
                >Contact Number is required</span
              >
              <span
                *ngIf="manageOrderForm.controls.contactNumber.errors.pattern"
                >Contact Number is invalid</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Payement Method</mat-label>
            <mat-select
              matInput
              formControlName="paymentMethod"
              placeholder="Payement Method"
              required
            >
              <mat-option value="Cash">Cash</mat-option>
              <mat-option value="Credit Card">Credit Card</mat-option>
              <mat-option value="Debit Card">Debit Card</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                manageOrderForm.controls.paymentMethod.touched &&
                manageOrderForm.controls.paymentMethod.invalid
              "
            >
              <span
                *ngIf="manageOrderForm.controls.paymentMethod.errors.required"
                >Contact Number is required</span
              >
              <span
                *ngIf="manageOrderForm.controls.paymentMethod.errors.pattern"
                >Contact Number is invalid</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<hr>

<mat-card>
    <mat-card-header>
      <mat-card-title>Select Product</mat-card-title>
    </mat-card-header>
  
    <mat-card-content align="start">
      <form [formGroup]="manageOrderForm">
        <div fxFlex fxLayout="column">
          <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Category</mat-label>
              <mat-select formControlName="category" (selectionChange)="getProductByCategory($event.value)">
              <mat-option *ngFor="let category of categorys" [value]="category">{{category.name}}</mat-option>
            </mat-select>
            </mat-form-field>
            

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Product</mat-label>
              <mat-select formControlName="product" (selectionChange)="getProductDetails($event.value)">
              <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Price</mat-label>
              <input
                matInput
                formControlName="price"
                placeholder="Price"
                required
                readonly
              />
              <mat-error
                *ngIf="
                  manageOrderForm.controls.price.touched &&
                  manageOrderForm.controls.price.invalid
                "
              >
                <span *ngIf="manageOrderForm.controls.price.errors.required"
                  >Price is required</span
                >
                <span *ngIf="manageOrderForm.controls.name.errors.pattern"
                  >Price is invalid</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                formControlName="quantity"
                placeholder="Quantity"
                required
                (keyup)="setQuantity($event)"
                #input
              />
              <mat-error
                *ngIf="
                  manageOrderForm.controls.quantity.touched &&
                  manageOrderForm.controls.quantity.invalid
                "
              >
                <span *ngIf="manageOrderForm.controls.quantity.errors.required"
                  >Quantity is required</span
                >
                <span *ngIf="manageOrderForm.controls.quantity.errors.pattern"
                  >Quantity is invalid</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Total</mat-label>
              <input
                matInput
                formControlName="total"
                placeholder="Total"
                required
                readonly
              />
              <mat-error
                *ngIf="
                  manageOrderForm.controls.total.touched &&
                  manageOrderForm.controls.total.invalid
                "
              >
                <span *ngIf="manageOrderForm.controls.total.errors.required"
                  >Total is required</span
                >
                <span *ngIf="manageOrderForm.controls.total.errors.pattern"
                  >Total is invalid</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <div class="button-container" fxLayout="row" fxLayoutAlign="space-between">
        <button
          mat-flat-button
          color="primary"
          [disabled]="validateProductAdd()"
          (click)="add()"
        >
          <mat-icon>add_circle</mat-icon>Add
        </button>
      </div>
    
      <div class="button-container">
        <button
          mat-flat-button
          color="primary"
        >
          <mat-icon>monetization_on</mat-icon>Total Amount: {{totalAmount}}
        </button>
      </div>
    </mat-card-actions>

  </mat-card>
  <hr>

  <mat-card class="table-card">
    <mat-card-content>
      <div class="responsive_table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataSource; index as i">
              <td>{{ data.name }}</td>
              <td>{{ data.category }}</td>
              <td>{{ data.price }}</td>
              <td>{{ data.quantity }}</td>
              <td>{{ data.total }}</td>
              <td><button
                mat-icon-button
                color="primary"
                matTooltip="Delete"
                (click)="handleDeleteAction(i, data)">
                <mat-icon>delete</mat-icon>
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
