<mat-toolbar color='primary'>
    <mat-toolbar-row fxLayout="row">
        <span>{{dialogData.action}}</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="form-content">
    <form [formGroup]="productForm">
        <p>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="name" required>
                <mat-error *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
                    <span *ngIf="productForm.controls.name.errors.required">Name is required</span>
                    <span *ngIf="productForm.controls.name.errors.pattern">Name is invalid</span>
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" placeholder="price" required>
                <mat-error *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
                    <span *ngIf="productForm.controls.price.errors.required">Price is required</span>
                    <span *ngIf="productForm.controls.price.errors.pattern">Price is invalid</span>
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-label-field appearance="outline" fxFlex>
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-label-field>
        </p>

        <p>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" placeholder="description" required>
                <mat-error *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
                    <span *ngIf="productForm.controls.description.errors.required">Description is required</span>
                    <span *ngIf="productForm.controls.description.errors.pattern">Description is invalid</span>
                </mat-error>
            </mat-form-field>
        </p>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(productForm.valid && productForm.dirty)">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
</mat-dialog-actions>