.mat-toolbar{
    width: auto;

}

mat-form-field{
    padding: auto;
}

mat-hint{
    color: red;
}

.form-content {
    display: flex;
    flex-direction: column;
  }
  
mat-dialog-actions {
    padding: 0%;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-top: -25px;
}