<div class="bg-image"></div>
<app-flavor-fusion></app-flavor-fusion>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li><a (click) = "handleSignupAction()">Signup</a></li>
      <li><a (click)="handleForgotPasswordAction()">Forgot Password</a></li>
      <li><a (click)="handleLogin()">Login</a></li>
    </ul>
  </nav>
</div>

<div class="footer" id="signup">
  <p>All right reserved @flavor fusion</p>
</div>